
// ==============================
// = HEADER
// ==============================


header {
  background-color:white;
  color: black;
  padding: 2rem;
  text-align: center;

  h1 {
    font-size: 2rem;
    text-transform: uppercase;
  }
}
