// ==============================
// = BUTTON
// ==============================
.btn {
  width: fit-content;
  padding:1rem;
  background-color:blue;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 0.3rem;
  margin: 0.5rem;    
}


//<button class="btn">Acheter</button>




