// ==============================
// = INPUTS
// ==============================

.input {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;

}



// <input type="text" class="input" placeholder="Rechercher..." />